Neural Network

In [19]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import LabelEncoder

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

# Data Preprocessing

In [20]:
#lead the datasets
df1 = pd.read_csv('Prop_cycle_250C - Feuille 1.csv')
df2 = pd.read_csv('Prop_cycle_300C - Feuille 1.csv')
df3 = pd.read_csv('Meth_cycle_300C - Feuille 1.csv')
df4 = pd.read_csv('Prop_cycle_350C - Feuille 1.csv')
df5 = pd.read_csv('Meth_cycle_350C - Feuille 1.csv')
df6 = pd.read_csv('Tol_cycle_250C - Feuille 1.csv')
df7 = pd.read_csv('Prop_cycle_200C - Feuille 1.csv')
df8 = pd.read_csv('Formal_cycle_200C - Feuille 1.csv')
df9 = pd.read_csv('Formal_cycle_250C - Feuille 1.csv')
df10 = pd.read_csv('Formal_cycle_300C - Feuille 1.csv')
df11 = pd.read_csv('Meth_cycle_250C - Feuille 1.csv')
df12 = pd.read_csv('Formal_cycle_350C - Feuille 1.csv')
df13 = pd.read_csv('Meth_cycle_200C - Feuille 1.csv')
df14 = pd.read_csv('Tol_cycle_200C - Feuille 1.csv')
df15 = pd.read_csv('Tol_cycle_300C - Feuille 1.csv')
df16 = pd.read_csv('Tol_cycle_350C - Feuille 1.csv')

In [21]:
#remove missing values
df1 = df1.dropna()
df2 = df2.dropna()
df3 = df3.dropna()
df4 = df4.dropna()
df5 = df5.dropna()
df6 = df6.dropna()
df7 = df7.dropna()
df8 = df8.dropna()
df9 = df9.dropna()
df10 = df10.dropna()
df11 = df11.dropna()
df12 = df12.dropna()
df13 = df13.dropna()
df14 = df14.dropna()
df15= df15.dropna()
df16 = df16.dropna()

In [22]:
d1= df1.merge(df2, on='Time(s)', how='left')
d1 = d1.rename({'Response_x': '250C', 'Response_y': '300C'}, axis=1)
d2=d1.merge(df4, on='Time(s)', how='left')
data1=d2.merge(df7, on='Time(s)', how='left')
data1 = data1.rename({'Response_x': '350C', 'Response_y': '200C'}, axis=1)
data1= data1.dropna()
l1=[]
for i in range(len(data1)):
    l1.append('Prop_cycle')
data1['class']=l1

In [23]:
f1= df11.merge(df3, on='Time(s)', how='left')
f1 = f1.rename({'Response_x': '250C', 'Response_y': '300C'}, axis=1)
f2=f1.merge(df5, on='Time(s)', how='left')
data2=f2.merge(df13, on='Time(s)', how='left')
data2 = data2.rename({'Response_x': '350C', 'Response_y': '200C'}, axis=1)
data2= data2.dropna()
l2=[]
for i in range(len(data2)):
    l2.append('Meth_cycle')
data2['class']=l2

In [24]:
w1= df6.merge(df15, on='Time(s)', how='left')
w1 = w1.rename({'Response_x': '250C', 'Response_y': '300C'}, axis=1)
w2=w1.merge(df16, on='Time(s)', how='left')
data3=w2.merge(df14, on='Time(s)', how='left')
data3 = data3.rename({'Response_x': '350C', 'Response_y': '200C'}, axis=1)
data3= data3.dropna()
l3=[]
for i in range(len(data3)):
    l3.append('Tol_cycle')
data3['class']=l3

In [25]:
z1= df9.merge(df10, on='Time(s)', how='left')
z1 = z1.rename({'Response_x': '250C', 'Response_y': '300C'}, axis=1)
z2=z1.merge(df12, on='Time(s)', how='left')
data4=z2.merge(df8, on='Time(s)', how='left')
data4 = data4.rename({'Response_x': '350C', 'Response_y': '200C'}, axis=1)
data4= data4.dropna()
l4=[]
for i in range(len(data4)):
    l4.append('Formal_cycle')
data4['class']=l4

In [26]:
frames = [data1, data2, data3,data4]
data = pd.concat(frames)

In [27]:
#drop the first column
data = data.drop('Time(s)', 1)

In [28]:
#convert the sting values to float values
for i in range(len(data['250C'])):
    data['250C'].iloc[i]=float(data['250C'].iloc[i].replace(",", "."))
    data['300C'].iloc[i]=float(data['300C'].iloc[i].replace(",", "."))
    data['350C'].iloc[i]=float(data['350C'].iloc[i].replace(",", "."))
    data['200C'].iloc[i]=float(data['200C'].iloc[i].replace(",", "."))

In [32]:
LE = LabelEncoder()
data['Class'] = LE.fit_transform(data['class'])
data = data.drop('class', 1)

In [33]:
#final data
data

        250C     300C     350C     200C  Class
0    2.37482  1.09649  1.27834  1.09493      2
1    2.07649  1.11883  1.18536  1.07331      2
2    1.71556  1.38251  0.97727  1.05975      2
3     2.2907  2.07406  0.96219  1.15781      2
4    1.44272  1.71841  1.06721  1.07972      2
..       ...      ...      ...      ...    ...
995  -0.0771  2.19188  0.80677  0.50304      0
996  0.94464  1.89853  0.79466 -0.47545      0
997   1.8505    2.463  0.82632  0.53851      0
998  0.40065  2.68766  0.82537  -0.1093      0
999  2.12915  2.60953  0.88577   -0.285      0

[3136 rows x 5 columns]

# Neural Netwrok

In [34]:
target_column = ['Class']#select tha label
predictors = list(set(list(data.columns))-set(target_column))#select the feature
data[predictors] = data[predictors]/data[predictors].max()#normalize the feature

In [49]:
X = data[predictors].values#get the values of the feature
y = data[target_column].values#get tha value of the label

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=40)#split tha data into 80% traing and 20%test

In [37]:
y_train = to_categorical(y_train)#categorise training label
y_test = to_categorical(y_test)#categorise testing label
count_classes = y_test.shape[1] #count the number of classes
print(count_classes)

4

In [42]:
#create the model 
from keras.layers import Dropout
model = Sequential()
model.add(Dense(500, activation='tanh', input_dim=4))#create the first hidden layer with 500 layers 
model.add(Dropout(0.2))#using dorpout for underfitting 
model.add(Dense(600, activation='tanh'))#create the first hidden layer with 500 layers
model.add(Dropout(0.2))
model.add(Dense(800, activation='tanh'))#create the first hidden layer with 800 layers
model.add(Dropout(0.2))
model.add(Dense(100, activation='relu'))#create the first hidden layer with 100 layers
model.add(Dense(50, activation='relu'))#create the first hidden layer with 50 layers
model.add(Dense(4, activation='softmax'))#create the first hidden layer with 4 layers

In [43]:
# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])#optimzing the model using adam and 'categorical_crossentropy' as loss function

In [44]:
model.fit(X_train, y_train, epochs=20) #fit the model with 30 epochs

Epoch 1/20
2508/2508 [==============================] - 2s 711us/step - loss: 0.7888 - accuracy: 0.6866
Epoch 2/20
2508/2508 [==============================] - 1s 506us/step - loss: 0.6032 - accuracy: 0.7683
Epoch 3/20
2508/2508 [==============================] - 1s 446us/step - loss: 0.4893 - accuracy: 0.8110
Epoch 4/20
2508/2508 [==============================] - 1s 474us/step - loss: 0.4369 - accuracy: 0.8425
Epoch 5/20
2508/2508 [==============================] - 1s 523us/step - loss: 0.3511 - accuracy: 0.8780
Epoch 6/20
2508/2508 [==============================] - 1s 493us/step - loss: 0.4024 - accuracy: 0.8636
Epoch 7/20
2508/2508 [==============================] - 2s 716us/step - loss: 0.3936 - accuracy: 0.8541
Epoch 8/20
2508/2508 [==============================] - 2s 698us/step - loss: 0.3294 - accuracy: 0.8812
Epoch 9/20
2508/2508 [==============================] - 2s 645us/step - loss: 0.2911 - accuracy: 0.8939
Epoch 10/20
2508/2508 [==============================] - 2s 625us/step - loss: 0.2725 - accuracy: 0.9023
Epoch 11/20
2508/2508 [==============================] - 2s 719us/step - loss: 0.3026 - accuracy: 0.8935
Epoch 12/20
2508/2508 [==============================] - 2s 665us/step - loss: 0.2680 - accuracy: 0.9055
Epoch 13/20
2508/2508 [==============================] - 2s 647us/step - loss: 0.2639 - accuracy: 0.8995
Epoch 14/20
2508/2508 [==============================] - 2s 705us/step - loss: 0.2358 - accuracy: 0.9159
Epoch 15/20
2508/2508 [==============================] - 2s 696us/step - loss: 0.2659 - accuracy: 0.9011
Epoch 16/20
2508/2508 [==============================] - 2s 721us/step - loss: 0.2715 - accuracy: 0.9051
Epoch 17/20
2508/2508 [==============================] - 2s 639us/step - loss: 0.2393 - accuracy: 0.9115
Epoch 18/20
2508/2508 [==============================] - 2s 626us/step - loss: 0.2397 - accuracy: 0.9083
Epoch 19/20
2508/2508 [==============================] - 2s 719us/step - loss: 0.2285 - accuracy: 0.9139
Epoch 20/20
2508/2508 [==============================] - 2s 630us/step - loss: 0.2128 - accuracy: 0.9175

In [47]:
pred_train= model.predict(X_train) #predict the model 
scores = model.evaluate(X_train, y_train, verbose=0) #compute the accuracy 
print('Accuracy : ',scores[1])   #display the accuracy

Accuracy :  0.9461722373962402